:root {
    background-color: rgb(250, 237, 217);
    margin: 0;

}

html {
    font-family: sans-serif;
}

main {
    display: grid;
    margin-left: 100px;
}

header {
    background-color: rgb(80, 78, 78);
}

header h1 {
    background-color: rgb(162, 233, 227);
    display: inline-block;
    color: rgb(80, 78, 78);
    font-size: 40px;
     
}

h2 {
    font-size: 34px;
    text-align: right;
}

div ul li {
    font-size: 18px;
    display: inline;
    justify-content: space-between;

}

ul {
    list-style: none;
    display: inline-block
}

footer {
    text-align: center;
}

.info {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    border: 2px;
    margin-top: 25px;
    padding-left: 15px;

}
.first {
    grid-column-start: 1;
}

.container1 {
    grid-column-start: 2;
    grid-column-end: 6;
    text-wrap: center;
    
}

.graph {
    grid-column-start: 2;
    grid-column-end: 6;
    text-wrap: center;
    padding: 4px;

}

.main1 {
    font-size: 18px;
}

.main2 {
    font-size: small;
}


.wood {
    background-image: url("../images/02-hero-bg.jpg");
    height: 200px;
    width: 100%;
    background-size: cover;
    text-align: end;
}

.nav {
    text-align: right;
    padding: 17px;
}

.names {
    text-align: center;
}

.img {
    height: 100%;
    width: fit-content;
}
