:root {
    background-color: rgb(250, 237, 217);
    margin: 0;

}

html {
    font-family: sans-serif;
}

main {
    display: grid;
    margin-left: 200px;
}

header {
    background-color: rgb(80, 78, 78);
}

header h1 {
    background-color: rgb(162, 233, 227);
    display: inline-block;
    color: rgb(80, 78, 78);
    font-size: 40px;
     
}

h2 {
    font-size: 34px;
    text-align: ;
}

div ul li {
    font-size: 18px;
    display: inline;
    justify-content: space-between;

}

ul {
    list-style: none;
    display: inline-block
}

footer {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    border-style: solid grey;
    border: 2px;
}

.main1 {
    font-size: 18px;
    display: flex;
}

.main2 {
    font-size: small;
}

.info {
    display: grid;
    width: 100%;
    grid-template-columns: 150px auto;
    grid-gap: 10px;
    border-left: solid 2px;
    border-color: rgb(162, 233, 227);
    margin-top: 25px;
    padding-left: 15px;

}

.wood {
    background-image: url("../images/02-hero-bg.jpg");
    height: 200px;
    width: 100%;
    background-size: cover;
}

.nav {
    text-align: right;
    padding: 17px;
}

.names {
    text-align:left
}


